{% for category in categories %}
    <ul>
        <a href="{{ path('task_category',{'id_cat':category.id_cat}) }}" <li> {{ category.category }} ({{ category.CountCategory  }}) </li> </a>
    </ul>
{% endfor %}