{% extends '::base.html.twig' %}

{% block form -%}
    <h1>Создание новой категории </h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Обратно к списку
        </a>
    </li>
</ul>
{% endblock %}
